.Container{
    position: relative;
    background-color: #E0F7FA;
    width: 20rem;
    height: 35rem;
    color: black;
    gap: 10px;
    border-radius: 30px;
    box-shadow: 5px 10px 15px rgba(194, 173, 16, 0.445);    
}
p{
   margin: 5px;
}