.Container{
    position: relative;
    background-color: #E0F7FA;
    width: 23rem;
    height: 37rem;
    color: black;
    gap: 30px;
    border-radius: 30px;
    
}
h2{
    font-size: 35px;
    text-align: center;
}
p{
   margin: 5px;
}